
VBA Util/obj/Debug/VBA_Util.Properties.Resources.resources
VBA Util/obj/Debug/VBA Util_MarkupCompile.lref
VBA Util/obj/Debug/VBA Util_MarkupCompile.i.lref
VBA Util/obj/Debug/VBA Util_MarkupCompile.i.cache
VBA Util/obj/Debug/VBA Util_MarkupCompile.cache
VBA Util/obj/Debug/VBA Util.pdb
VBA Util/obj/Debug/VBA Util.g.resources
VBA Util/obj/Debug/VBA Util.exe
VBA Util/obj/Debug/VBA Util.csprojAssemblyReference.cache
VBA Util/obj/Debug/VBA Util.csproj.ResolveComReference.cache
VBA Util/obj/Debug/VBA Util.csproj.GenerateResource.cache
VBA Util/obj/Debug/VBA Util.csproj.FileListAbsolute.txt
VBA Util/obj/Debug/VBA Util.csproj.CoreCompileInputs.cache
VBA Util/obj/Debug/VBA Util.csproj.CopyComplete
VBA Util/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
VBA Util/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
VBA Util/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
VBA Util/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
VBA Util/obj/Debug/MainWindow.g.i.cs
VBA Util/obj/Debug/MainWindow.g.cs
VBA Util/obj/Debug/MainWindow.baml
VBA Util/obj/Debug/Interop.ADODB.dll
VBA Util/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VBA Util/obj/Debug/DesignTimeResolveAssemblyReferences.cache
VBA Util/obj/Debug/App.g.i.cs
VBA Util/obj/Debug/App.g.cs
VBA Util/bin/Debug/errors.log
VBA Util/bin/Debug/Microsoft.WindowsAPICodePack.dll
VBA Util/bin/Debug/Microsoft.WindowsAPICodePack.Shell.dll
VBA Util/bin/Debug/Microsoft.WindowsAPICodePack.Shell.xml
VBA Util/bin/Debug/Microsoft.WindowsAPICodePack.xml
VBA Util/bin/Debug/VBA Util.exe
VBA Util/bin/Debug/VBA Util.exe.config
VBA Util/bin/Debug/VBA Util.pdb
.vs/VBAutil/v15/Server/sqlite3/storage.ide-wal
.vs/VBAutil/v15/Server/sqlite3/storage.ide-shm
.vs/VBAutil/v15/Server/sqlite3/storage.ide
.vs/VBAutil/v15/Server/sqlite3/db.lock
.vs/VBAutil/v15/.suo
